# Fichiers Python
__pycache__/
*.py[cod]
*.so

# Environnement virtuel
venv/
env/
.venv/
.env/

# Fichiers de configuration sensibles
*.env
*.ini
*.cfg
*.json

# Django
*.log
staticfiles/
media/
db.sqlite3
*.pot
*.py,cover

# Ne pas versionner les migrations
*/migrations/*
!*/migrations/__init__.py

# Tests
.coverage
.tox/
pytest_cache/

# IDE / éditeurs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
