<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eleves</title>
</head>
<body>
    <h1>Liste des eleves</h1>

        <div style="margin-bottom: 15px;">
            <a href="{% url 'notes:add_eleve' %}"> 
            <button style="padding: 5px 10px;">Ajouter un eleve</button>    
        </a>
        </div>

    <table border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for eleve in eleves %}
                <tr>
                    <td>{{ eleve.nom }}</td>
                    <td>{{ eleve.prenom }}</td>
                    <td>
                        <a href="{% url 'notes:eleve' eleve.id %}"> <button style="margin-right:5px; padding:3px 6px;">Voir detail eleve</button></a>
                        <a href="{% url 'notes:update_eleve' eleve.id %}"> <button style="padding:3px 6px;">Modifier</button> </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <div style="margin-top: 15px;">
        <a href="{% url 'notes:index' %}">
        <button style="padding:5px 10px;">Retour a la page d'acceuil</button>
    </a>
    </div>
    <div>
        <a href="{% url 'notes:logout' %}">
        <button style="padding:5px 10px; margin-top:10px;">Se deconnecter</button>
    </a>
    </div>
</body>
</html>