<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eleve</title>
</head>
<body>
    <h2> Nom: {{ eleve.nom }} </h2>
    <h2> Prenom: {{ eleve.prenom }} </h2>
    <h2> Niveau: {{ eleve.niveau }} </h2>
    <div>
        <table border="1" cellpadding="8" cellspacing="0">
          <thead>
            <tr>
              <th>Matiere</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for matiere in matieres%}
            <tr>
              <td>{{ matiere.nom }}</td>
              <td><a href="{% url 'notes:add_note' eleve.id matiere.id  %}"><button>Modifier la note</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>

    <div style="margin-top: 15px;">
      <a href="{% url 'notes:eleves' %}"> <button style="padding: 5px 10px;">  Voir les eleves </button> </a>
    </div>
</body>
</html>