<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enseignants</title>
</head>
<body>
    <h1>Liste des enseignants</h1>
    <table border="1">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.nom }}</td>
                    <td>{{ enseignant.prenom }}</td>
                    <td>
                        <button><a href="{% url 'notes:update_enseignant' enseignant.id %}"> Modifier</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</body>
</html>